.flexcenter {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
}

.flexcenter_align {
	display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    align-items: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
}

.flex_half_section
{
	flex: 1;
}

::-webkit-scrollbar {
    display: none;
}


/******************
---Slider Switch---
******************/
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #ff7860;
}

input:focus + .slider {
  box-shadow: 0 0 1px #ff7860;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/******************
--- Component -----
******************/

input, select, textarea {
	box-sizing: border-box;
	text-align: left;
	vertical-align: middle;
	height: 50px;
	width: 100%;
	background: #fff;
	font-size: 1.0em;
	color: #767676;
	margin-bottom: 10px;
	padding-left: 10px;
	border: 1px solid #EBEBEB;
	border-radius: 3px;
}

textarea {
	position: relative;
	box-sizing: border-box;
	position: relative;
	height: 130px;
	padding: 10px;
	resize: none;

}

input:focus, select:focus, textarea:focus {
	outline: none;
	border: 1px solid #EBEBEB;
	border-color: #ff7860;
	box-shadow: 0 0 2px #ff7860;
}


.button {
	position: relative;
	line-height: 70px;
	vertical-align: middle;
	text-align: center;
	font-size: 14pt;
	font-weight: bold;
	width: 50%;
	height: 70px;
	background: #ff7860;
	color: #fff;
}

.setting_button_wrap {
	position: fixed;
	bottom: 15px;
	width: calc(100% - 220px);
}

.button.float {
	float: left;
}

.address {
	line-height: 50px;
	width: 100%;
	height: 50px;
}

.cancel {
	background: #848484;
}


input[type=text], input[type=number], select, input[type=search], input[type=date]{height: 48px !important;}

/* 라디오, 체크박스 */
.control-group{ padding: 15px 15px 0; }

.control{ display: inline-block; position: relative; padding-left: 30px; line-height: 1.5; margin-bottom: 5px;}

.control input, .control-box input { position: absolute; top: 0; left: 0; z-index: -1; opacity: 2;}

.control-indicator{ height: 26px; width: 26px; background: #fff; border: 2px solid #ccc; position: absolute; top: 0; left: 0; }

.control-indi-deco{ height: 8px; width: 8px; background:#ccc;}

.control_r{ display: inline-block; position: relative; padding-right: 26px; line-height: 1.3; margin-bottom: 0; text-align: right; width: 100%; color: #999; font-size: .9em;}

.control_r input { position: absolute; top: 0; right: 0; z-index: -1; opacity: 2; }

.control-indicator_r{ height: 20px; width: 20px; background: #fff; border: 1px solid #ccc; position: absolute; top: 0; right: 0;}

.control_s{ display: inline-block; position: relative; padding-left: 24px; margin-bottom: 5px; font-size: .8em; line-height: 1.3;}

.control_s input{ position: absolute; top: 0; left: 0; z-index: -1; opacity: 2;}

.control-indicator_s{ height: 18px; width: 18px; background: #fff; border: 2px solid #ccc; position: absolute; top: 0; left: 0; }

.control-indicator_s .control-indi-deco{ height: 6px; width: 6px; background:#ccc; border-radius: 50%;}
